<%- include('bootheader') -%>
<%- include('menubar') -%>


  <div class="jumbotron">

  <h1> Blog! </h1>
  <h2>Blogpost list </h2>

<% if (loggedIn) {%>
  <h2>Add another blogpost?</h2>

  <form method="post" action="/blogposts">
    Title: <input type="text" name="title" placeholder="Title of blog post"><br><br>
    <textarea name="content" rows="5" cols="40"></textarea>
    <br><br>
    <input type="submit" value="Post now">
  </form><br>
<% } %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>title</th><th>content</th><th>createdAt</th></tr>
    </thead>
    <tbody>
  <% for(let i=0; i<blogposts.length; i++){
      blogpost = blogposts[i]
      console.log(`i=${i} document=${blogpost}`)
  %>
    <tr>
      <td><%= blogpost.title %></td>
      <td><%= blogpost.content %></td>
      <td>
        <% if (user.id==blogpost.userId) {%>
            <a href="/blogpostsremove/<%= blogpost._id %>"> X </a>
        <%}%>
        <%= blogpost.createdAt %>
      </td>
    </tr>
    </tbody>
  <%}%>
  </table>

  <br>
  </div>

<%- include('bootfooter') -%>
