<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron bg-warning">
    <h1>Join the Brandeis German Club!</h1><br>



Welcome <%= name %>! <br>
Your graduation year is [<%= year %>] <br>
The reason why you joined: [<%= why %>]<br>
Speak German? [<%= speaksGerman %>]  <br>
You heard about us through: [<%= how %>] <br>

<br>

Here is a list of the current Brandeis German Club Members!<br>
<ul>
  <%  members.map((member) => {%>
    <li> <%= member['member'] %> </li>
  <%})%>

</ul>

<hr>


<%- include('bootfooter') -%>
