<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>German Weather Finder</h1>
    </div>





<div style="border-top:thick solid blue; margin:20; padding:10">
    <h1 class="bg-info"> <%= city.title %> </h1>
    <a href="<%= city.href %>"> <%= city.href %> </a>
    <h2> <b><%= foundCity %></b> weather for the next six days</h2>


    <%
        var hdrs = ["Day", "Prognosis", "Low", "High"];
        var keys = ["barfola", "weather_state_name", "min_temp", "max_temp"];
    %>
        <table class="table table-bordered table-striped">
        <% for (var i=0; i< data.consolidated_weather.length; i++) {
          if (i == 0) { %>
            <thead><tr>
            <% for (var j=0;j<hdrs.length;j++) { %>
              <th>
                <%= hdrs[j]%>
              </th>
            <% } %>
            </tr>
            </thead>
          <% }
          var day = data.consolidated_weather[i];
           for (var k=0; k<keys.length;k++) {
             if (day.hasOwnProperty(keys[k])) { %>
              <td>
                <%= day[keys[k]] %>
                 </td>
             <% } else { %>
              <td>
                <%= i + 1 %>
              </td>

             <% }
           } %>


            </tr>


        <% } %>
        </table>





    </div>
</div









<%- include('bootfooter') -%>
